.create-plan {
  margin-left: 276px;

  .create-group {
    display: flex;
    align-items: center;
    margin: 20px 0;

    .name {
      width: 150px;
      line-height: 36px;
      text-align: right;
      align-self: flex-start;

      .ant-select-selection--single {
        height: 36px;
        padding-top: 2px;
      }
    }

    .input-group {
      width: 60%;
      margin-left: 10px;

      input.ant-input {
        width: 650px;
        height: 36px;
      }

      textarea.ant-input {
        width: 650px;
      }

      span.ant-input {
        height: 36px;
      }

      .channel-group {
        margin-top: 10px;
      }

      .period-group {
        margin-top: 20px;
      }

      .period-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .launch-type {
        border-bottom: none;
      }
    }
  }

  .adverted-position__group {
    margin-top: 30px;

    .channel-type {
      display: flex;
      align-items: center;
      width: 100%;
      height: 30px;
      border-bottom: #eee solid 1px;

      li {
        width: 120px;
        height: 30px;
        text-align: center;
        cursor: pointer;

        .anticon {
          font-size: 16px;
        }

        &.active {
          border-bottom: #1890ff solid 2px;
          color: #1890ff;
        }
      }
    }

    .adverted-position {
      margin: 30px 0 0 30px;

      .choose-channel {
        width: 750px;
        margin: 10px 0 20px 20px;
      }
    }
  }

  &__group {
    padding-top: 30px;
    margin: 30px 0 0 50px;
    border-top: #ccc dashed 1px;

    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    .ant-tabs-tabpane-active {
      padding: 20px 0 10px 18px;
    }

    .next-step {
      width: 100px;
      margin: 20px 0 0 18px;
    }

    .create-group {

      .input-group {
        .ant-input-number {
          width: 400px;
        }
      }
    }

    h2{
      position: relative;
      padding-left: 15px;
      line-height: 30px;

      &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 5px;
        height: 25px;
        background-color: #333;
      }
    }
    
    .column-group {
      margin-top: 30px;

      .ant-collapse-item {
        border-bottom: none;
      }

      .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
        left: 1px;
      }

      .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        padding: 12px 0 12px 28px;
      }

      .pop-attr {
        width: 650px;
        margin-left: 10px;
        padding: 20px;
        border: #ccc solid 1px;

        .create-group {
          margin: 0;
          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 0;
          }
          
          .age-row {
            .ant-col-8 {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}