body {
  background-color: #f0f2f5;
}

.content-box {
  
  .content {
    display: flex;
    min-width: 1200px;
    margin: 0 auto;

    .content-top {
      display: flex;
  
      h4 {
        flex: 1;
        font-size: 18px;
        color: #333;
      }
    }

    .content-box {
      flex: 5;
      padding: 20px;
      background-color: white;
      box-shadow: -1px 0px 1px rgba(0,0,0,.05);
    }
  }
}

/* 表格样式 */
.table-box {
  width: 100%;
  margin-top: 20px;

  .ant-table {
    width: 100%;
    border: #e1e4e6 solid 1px;
    border-bottom: none;
    border-radius: 0;   

    &-thead > tr > th {
        font-size: 14px;
        color: #666;
        background: linear-gradient(to bottom, #f9fcfc, #e8eaeb);
    }

    &-tbody > tr {
        background-color: #fafcfc;

        td {
            padding: 14px 8px;
            font-size: 14px;
            color: #2e3133;

            .details {
                color: #23b8f6;
            }

            .handle-button {
                width: 60px;
                height: 28px;
                background-color: #23b8f6;
                border: #23b8f6 solid 1px;
            }

            a {
                color: #23b8f6;
            }
        }
    }

    &-tbody > tr:nth-child(2n) {
        background-color: #f2f4f5;
    }
  }

  .ant-table-thead > tr > th {
    white-space: nowrap;
  }

  .ant-table-pagination.ant-pagination {
    float: none;
    text-align: center;
  }

  .ant-pagination-item-active {
    background-color: #23b8f6;
    border-color: #23b8f6;
  }

  .ant-pagination-item:not(.ant-pagination-item-active) {
    background: linear-gradient(180deg,#fafafa,#ebebeb);
  }

  .ant-pagination-prev:not(.ant-pagination-disabled) .ant-pagination-item-link,
  .ant-pagination-next:not(.ant-pagination-disabled) .ant-pagination-item-link {
    background: linear-gradient(180deg,#fafafa,#ebebeb);
  }

  .ant-pagination-item-active:focus a, 
  .ant-pagination-item-active:hover a, 
  .ant-pagination-item-active a {
    color: #fff;
  }

  .tabs > .ant-radio-group {
    border: solid 1px #d7dadb;
    border-right: none;
    border-bottom: none;
  }

  .ant-table-tbody > tr td {
    padding: 14px 16px;
  }
}