.menu-plan-box {
  position: fixed;
  top: 60px;
  left: 0;
  margin-right: 20px;

  &.active {
    width: 256px;
  }

  ul.ant-menu-root {
    padding: 10px 0 200px;
    background-color: white;
  }

  .ant-menu-item-group-title {
    font-size: 14px;
  }
}